body{
    background-color: #9681eb;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b69ae3' fill-opacity='0.58' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    list-style: none;
    
}
body header{
    background-color: rgb(101, 39, 190);
}
body footer{
    background-color: rgb(101, 39, 190);
}   
body header ul{
    color: black;
    list-style: none;
    text-decoration: none;
} 
li{
    color: black;
    list-style: none;
}
body main{
    padding: 5%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


  .ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
  }
  
  @media (max-width: 400px){
    main{
        flex-direction: column;
    }
    .formular{
        display: flex;
    }
    footer{
        position: relative;
    }
  }