body{
    background-color: rgb(150, 129, 235);
    list-style: none;
}
body header{
    background-color: rgb(101, 39, 190);
}
body footer{
    background-color: rgb(101, 39, 190);
}   
body header ul{
    color: black;
    list-style: none;
    text-decoration: none;
} 
li{
    color: black;
    list-style: none;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


  .ventana-emergente {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
  }
  